*{
    margin: 0;
    /* #C84B31
    #ECDBBA */
}

html{
    scroll-behavior: smooth;
}

header{
    background-color: black;
    width: 100%;
    height: 800px;
    position: relative;
}

nav{
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 99;
    background-color: #2C3639;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 20%);
}

#menu-bar{
    list-style: none;
    height: 100%;
}

#menu-bar li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 100%;
    padding-top: 20px;
    padding-bottom: 5px;
}

#menu-bar li:hover {
    border-bottom: 3px solid #346751;
}

.menu-link a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

header h1{
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    color: white;
    z-index: 88;
    text-align: center;
    font-size: 100pt;
}

#me-img{
    position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -150px;
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

#me-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-tooltip{
    position: absolute;
    display: none;
    top: 550px;
    left: 56%;
    width: 100px;
    height: 30px;
    color: white;
    background-color: #346751;
    z-index: 999;
    text-align: center;
    padding-top: 7px;
    border-radius: 5px;
}

header h2{
    position: absolute;
    width: 800px;;
    top: 650px;
    left: 50%;
    margin-left: -400px;
    color: white;
    text-align: center;
}

main{
    background-color: #191919;
    width: 100%;
    height: 3000px;
}

#section-about{
    height: 900px;
}

section{
    position: relative;
    width: 100%;
    height: 1000px;
    background-color: transparent;
}

section h1{
    position: absolute;
    width: 200px;
    color: white;
    font-size: 30pt;
    top: 50px;
    left: 50%;
    margin-left: -100px;
}

#about-myintro{
    position: absolute;
    width: 70%;
    color: white;
    font-size: 16pt;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}

section h2{
    position: absolute;
    width: 170px;
    color: white;
    font-size: 20pt;
    top: 450px;
    left: 50%;
    margin-left: -100px;
    border-bottom: 2px solid white;
    text-align: center;
    padding-bottom: 10px;
}

#skill-box{
        position: absolute;
        width: 70%;
        color: white;
        font-size: 15pt;
        top: 550px;
        left: 50%;
        transform: translateX(-50%);
}

.skill-detail{
    text-align: center;
    background-color: rgb(241, 241, 241);
    margin: 15px;
    border-radius: 10px;
    height: 40px;
    width: 28%;
    cursor: pointer;
    display: inline-block;
    padding-top: 10px;
}

.skill-detail:hover{
    background-color: rgb(209, 210, 210);
}

.skill-detail span{
    color: black;
}

.project1{
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    width: 80%;
    height: 700px;
    border-bottom: 2px solid #2C3639;
}

.project1 > div{
    display: inline-block;
}

.slideshow-box{
    position: absolute;
    top: 100px;
    width: 60%;
    height: 500px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    width: 100%;
    height: 450px;
    background-color: white;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 40px;
    background-color: #2C3639;
    opacity: 0.7;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: #346751;
    border-radius: 10px;
    margin: 5px;
    opacity: 0.7;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.project-content{
    position: absolute;
    top: 90px;
    left: 65%;
    width: 35%;
    height: 300px;
  }

.project2{
    position: absolute;
    top: 900px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    width: 80%;
    height: 700px;
    border-bottom: 2px solid #2C3639;
}

.project2 > div{
    display: inline-block;
}

.project-continue{
    position: absolute;
    top: 1800px;
    left: 50%;
    color: white;
    transform: translateX(-50%);
    width: 80%;
    height: 50px;
}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: black;
}

footer div{
    color: white;
}

.email{
    position: absolute;
    width: 200px;
    top: 230px;
    left: 50%;
    margin-left: -100px;
    color: white;
    font-size: 15pt;
}

.git{
    position: absolute;
    top: 170px;
    left: 50%;
    margin-left: -20px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    border: 3px solid white;
}

.git img{
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.footer-line{
    position: absolute;
    border-bottom: 2px solid #2C3639;
    width: 1500px;
    left: 50%;
    margin-left: -750px;
    bottom: 100px;
}

.copyright{
    position: absolute;
    width: 400px;
    bottom: 50px;
    left: 50%;
    margin-left: -200px;
    color: rgb(189, 187, 187);
    text-align: center;
}

#topbtn{
    position: absolute;
    top:50px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #2C3639;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 15pt;
}
